@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px); /* задаем эффект размытия */
  position: fixed; /* устанавливаем положение ::before как fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.slide {
  box-shadow: -2px 0px 35px 10px rgba(255, 80, 246, 0.363);
  height: 80vh;
  flex: 1;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: aliceblue;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
